.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  z-index: 10;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #000;
}

.nav_contents {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 11px 3%;
  /*  */
  display: flex;
  justify-content: space-between;
}

.nav_logo {
  width: 110px;
  object-fit: contain;
  cursor: pointer;
  height: 40px;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  cursor: pointer;
}

.navredbutton {
  background-image: linear-gradient(180deg, #e50914, #db0510);
  font-weight: 400;
  text-decoration: none;
}

.navwhitebutton {
  text-decoration: none;
  border: 1px solid #888;
  white-space: nowrap;
}

.letterlogo {
  display: none;
}

@media (max-width: 1022px) {
  .navdescription {
    display: none;
  }
}

@media (max-width: 598px) {
  .letterlogo {
    display: block;
    width: unset;
  }

  .wordlogo {
    display: none;
  }
}
